<%- include("partials/header") -%> 



<div class="row">
    <div class="col-lg-6 col-md-12 col-12">
        <h1>About</h1>
        <p> <%= aboutContent %> </p>

    </div>
        <div class="col-lg-6 col-md-12 col-12">

            <img src="images/mountain.png" alt="mountain-img" />





</div>
</div>





<%- include("partials/footer") -%>  